
.main{
    height: 50vh;
    background-color: #FFFFFF;

}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerHeading{
    font-size: 3rem;
    line-height: 3.7rem;
    font-weight: 700;
    z-index: 10;
    color: #FFFFFF;
    mix-blend-mode: difference;
    margin: 150px 200px 0px;
}

.line{
    margin-bottom: 8px;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.headerContent{
    position: absolute;
}

.rowButton{
    width: 270px;
    position: relative;
    z-index: 2;
    margin: 10px 200px 10px;
}

.anchor{
    display: flex;
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    line-height: 2rem;
}

.image{
    margin-left: 16px;
    border: 2px solid black;
    padding: 1px;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    transition: 0.4s ease-in-out;
}

.image:hover{
    background-color: #A460ED;
    color: #FFFFFF;
}