@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Lora:ital,wght@0,600;1,400&family=Poppins&family=Source+Sans+Pro:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.navWrapper{
    box-sizing: border-box;
    display: flex;
    margin: 10px 0 60px;
    width: 100%;
    height: 110px;
    padding: 10px 60px;
    justify-content: space-around;
    align-items: baseline;

}

.pageNavigation{
    box-sizing: border-box;
    padding: 0;
    justify-content: space-around;
    display: flex;
    list-style: none;


}

.pageNavigation li{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 50px;
    font-size: 20px;
    font-weight: 400;
}

.myName{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}






